body {
background-image:#FFA07A
 dot {
height: 8px;
width: 8px;
border-radius: 4px;
/* скруглённые углы */
background: blue;
position: absolute;
}
 h1 {
    font-family: 'Times New Roman';
 } 
   p {
    font-family: Arial; 
    font-size: 16pt; 
   }
