/* CSS styles */
body {
height: 8px;
width: 8px;
border-radius: 4px;
/* скруглённые углы */
background: #FFE4B5;
position: absolute;
}
 h1 {
    font-family: 'Times New Roman';
 } 
   p {
    font-family: Arial; 
    font-size: 16pt; 
   }
